<div class="login-page-container">

  <div class="image-container"></div>

  <div class="login-form-box">

    <div class="buttons-above-header">
      <button mat-icon-button>
        <mat-icon fontIcon="settings"></mat-icon>
      </button>
    </div>

    <div class="form-container">

      <mat-card-title>
        <img alt="logo" height="40px" src="../../../assets/media/logo.svg" width="40px"/>
        <h2>Sign in</h2>
      </mat-card-title>

      <form (ngSubmit)="signInButtonClicked($event)" [formGroup]="formGroup">

        <mat-form-field [ngClass]="(getEmail()?.invalid && formGroup.touched) ? 'error-text' : ''" appearance="outline">
          <mat-label>E-mail address</mat-label>
          <input formControlName="email" matInput>
          <mat-hint *ngIf="getEmail()?.touched && getEmail()?.hasError('required')">Required</mat-hint>
          <mat-hint *ngIf="getEmail()?.touched && getEmail()?.hasError('email')">Please enter valid e-mail address
          </mat-hint>
        </mat-form-field>

        <mat-form-field [ngClass]="(getPassword()?.invalid && formGroup.touched) ? 'error-text' : ''"
                        appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput>
          <mat-hint *ngIf="getPassword()?.hasError('required') && getPassword()?.touched" class="error-text">Required
          </mat-hint>
        </mat-form-field>

        <span class="forgot-password">
            Forgot password?
        </span>

        <button [disabled]="formGroup.invalid" class="submit-button" mat-flat-button>
          Sign in
        </button>

        <button class="sign-up-button" mat-button>
          Don't have an account? Sign Up!
        </button>

      </form>
    </div>
  </div>
</div>
