button {
  padding: 30px 10px;
  margin: 10px 0;
  border-radius: 16px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-size: 1rem;
}

span {
  margin: 0 0 0 10px;
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  display: block;
}
