<div class="sidebar-container">
  <div class="sidebar-logo">
    <img alt="logo" height="40px" src="../../../assets/media/logo.svg" width="40px"/>
  </div>

  <div class="sidebar-site-menu-button-container">
    <custom-sidebar-button buttonCaption="Home" buttonType="home"></custom-sidebar-button>

    <custom-sidebar-button buttonCaption="Dashboard" buttonType="bar_chart"></custom-sidebar-button>

    <custom-sidebar-button buttonCaption="User" buttonType="people"></custom-sidebar-button>

    <custom-sidebar-button buttonCaption="Calendar" buttonType="event"></custom-sidebar-button>

    <custom-sidebar-button buttonCaption="Projects" buttonType="device_hub"></custom-sidebar-button>

    <custom-sidebar-button buttonCaption="Help" buttonType="device_unknown"></custom-sidebar-button>
  </div>

  <div style="height:300px;"></div>

  <div class="sidebar-site-menu-button-container">
    <custom-sidebar-button buttonCaption="{{usernamePlaceholderMappedFromEmail$ | async}}"
                           buttonType="person"></custom-sidebar-button>

    <custom-sidebar-button buttonCaption="Help" buttonType="settings"></custom-sidebar-button>
  </div>
</div>
