<div class="profile-page-container">
  <app-sidebar></app-sidebar>
  <main>

    <div class="logout-button-container">
      <button (click)="logoutButtonClick()" color="white" mat-mini-fab>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>


    <div class="dashboard-container">

      <div class="welcome-user-block">
        <h1 class="text-hi-width-bold">Hi {{usernamePlaceholderFromStorageEmail$ | async}},</h1>
        <h1 class="text-welcome-back-width-normal">Welcome back!</h1>
        <span class="text-about-page-caption">This page is designed to give some important information about the application. Let's make something
          together!
        </span>

        <img alt="logo" height="250px" src="./assets/media/profile-decoration-image.svg" width="100%"/>

        <div class="profile-completeness-block">
          <mat-icon class="star-icon-profile-completeness-block">stars</mat-icon>
          <h5>Congratulations, {{usernamePlaceholderFromStorageEmail$ | async}}</h5>
          <span>You have completed 75% of your profile. Your current progress is great.</span>
          <button mat-flat-button>View profile</button>
        </div>

      </div>


      <div class="user-statistics-block">

        <div class="user-reactions-statistics">
          <reaction-statistics-box [iconBackgroundColor]="'rgb(41, 98, 255)'" [materialIconType]="'thumb_up'"
                                   [reactionName]="'Likes'"></reaction-statistics-box>

          <reaction-statistics-box [iconBackgroundColor]="'rgb(255, 61, 0)'" [materialIconType]="'whatshot'"
                                   [reactionName]="'Love'"></reaction-statistics-box>

          <reaction-statistics-box [iconBackgroundColor]="'rgb(255, 196, 0)'"
                                   [materialIconType]="'sentiment_very_satisfied'"
                                   [reactionName]="'Smiles'"></reaction-statistics-box>
        </div>

        <views-chart></views-chart>

      </div>

      <div class="targets-meetings-block">
        <div class="targets">
          <span class="heading-text">Targets</span>
          <target-progressbar-card [propertyName]="'Views'"></target-progressbar-card>

          <target-progressbar-card [propertyName]="'Followers'"></target-progressbar-card>

          <target-progressbar-card [propertyName]="'Income'"></target-progressbar-card>
        </div>

        <div class="meetings">
          <span class="heading-text">Meetings</span>
          <meeting-claim-card *ngFor="let user_id of [1,2,3]"></meeting-claim-card>
        </div>
      </div>

    </div>

  </main>
</div>
